@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&display=swap");
.cursive-font {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 78px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}
/* Shared Styles */
.primary-color {
  color: #e6533c;
}
.secondary-color {
  color: #ffffff;
}
.description-color {
  color: rgba(255, 255, 255, 0.5);
}
.placeholder-color {
  color: rgba(255, 255, 255, 0.6);
}
.display-flex {
  display: flex;
}

/* Shared-Font-styles */
.name-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: italic;
  font-size: 36px;
  font-variation-settings: "slnt" 0;
}

.nav-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  font-variation-settings: "slnt" 0;
}

.nav-btn-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  font-variation-settings: "slnt" 0;
}

.banner-tittle-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 78px;
  font-variation-settings: "slnt" 0;
  line-height: 120%;
}

.description-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-variation-settings: "slnt" 0;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.primary-btn {
  background-color: #e6533c;
  border: 2px solid transparent;
  border-radius: 46px;
  padding: 8px 20px;
}

.primary-btn-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  font-variation-settings: "slnt" 0;
  color: #ffffff;
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 46px;
  padding: 8px 20px;
  margin: 14px;
}

.secondary-btn-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  font-variation-settings: "slnt" 0;
  color: #ffffff;
}
/* BG Styles */
.bg-dark {
  background: radial-gradient(circle at center, #333333 0%, #111111 80%);
}

.habits {
  background-color: black;
}

.calltoaction {
  background-color: black;
  padding-top: 10vh;
}




/* nav styles */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 47px;
}

nav li > a {
  text-decoration: none;
}

.nav-btn {
  background-color: #e6533c;
  border: 2px solid transparent;
  border-radius: 46px;
  padding: 8px 20px;
}

.nav-gap {
  display: flex;
  margin-top: 10px;
  gap: 46px;
}

ul {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding-left: 4px;
  padding-right: 20px;
}

.nav-btn:hover {
  cursor: pointer;
}

nav > h3,
ul {
  margin-top: 58.5px;
  margin-left: 190px;
  margin-right: 190px;
}

.nav-tittle {
  margin-left: 11.875vh;
}

.nav-items {
  margin-left: 44.063vh;
}

/* Banner styles */
.navbar .banner {
  max-width: 100%;
  height: auto;
}

.banner-container {
  background-image: url(../assets/Images\ 2.png);
  background-repeat: no-repeat;
  background-position: right;
  max-width: 100%;
  height: 715px;
  margin-right: 214px;
}

.banner-content {
  margin-left: 200px;
  margin-top: 97.5px;
}

/* Card Designs Here */

.card1 {
  text-align: start;
  width: max-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px 30px;
  position: relative;
  top: -25vh;
  left: 80vh;
}

.card2 {
  text-align: start;
  width: max-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px 30px;
  position: relative;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  position: relative;
  left: 40vh;
  top: -10vh;

  
}


.redcircle {
  background-color: #e6533c;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-top: 10px;
  margin-right: 10px;

  
}

.card1tittle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  font-variation-settings: "slnt" 0;
  line-height: 120%;
  color: #ffffff;
  margin: 0;

}

.card1description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  font-variation-settings: "slnt" 0;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.65);
  margin: 0;

}

/* Habits Section */
.habitstittle {
  text-align: center;
  padding-top: 100px;

}

.habitfont{
  font-size: 48px;
}

.habitimg {
  border-radius: 180px;
}

.fourhabit {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 100px;
  text-align: center;
  line-height: 1.25;
}

/* CTA Section */
.ctacontainer {
  background-color: #333333;
  height: 371px;
  width: 80%;
  border-radius: 15px;
  display: flex;
  position: relative;
  left: 20vh;
}

.ctaimg {
  height: 80%;
  border-radius: 2vh;
  position: relative;
  top: 5vh;
  left: 50vh;
    
}

.ctatextcontainer {
  padding-top: 9vh;
  padding-left: 9vh;
}


/* Button remove on larger device */
@media screen and (max-width: 1920px) {
  .join-btn2,
  .download-btn2,
  .responsive-bg,
  .hamburger-button {
    display: none;
  }
}
/* responsive styles medium devices*/
@media screen and (max-width: 993px) {
  .nav-items {
    display: none;
  }
  .hamburger-button {
    display: none;
  }
}

/* responsive styles medium devices*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-items {
    display: none;
  }
  div {
    border: 2px solid red;
  }
  .hamburger-button {
    display: none;
  }
}

/* responsive styles small devices*/
@media screen and (max-width: 576px) {
  .banner-content {
    margin: 0;
  }

  .navbar > ul {
    display: none;
  }

  .banner-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    background-image: none;
    height: auto;
  }

  .join-btn {
    display: none;
  }

  .banner-btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .join-btn2 {
    height: 50px;
    width: 150px;
  }
  .download-btn {
    display: none;
  }
  .download-btn2 {
    height: 50px;
    width: 150px;
    margin-top: 0;
    margin-right: 50px;
  }
  .banner-tittle-font,
  .cursive {
    font-size: 36px;
  }
  .banner-content > p > br {
    display: none;
  }
  .name-font {
    font-size: 36px;
  }
  .banner-paragraph {
    width: 100%;
    height: auto;
  }
  .join-btn2,
  .download-btn2,
  .responsive-bg {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 0 15px;
  }
  .nav-tittle {
    margin-left: 0;
    font-size: 30px;
    flex-grow: 1;
    text-align: left;
  }

  .hamburger-button {
    background-color: transparent;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: transparent;
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-grow: 1;
    margin-left: auto;
  }

  .banner-tittle,
  .banner-paragraph,
  .banner-btn-container {
    padding-left: 15px;
  }
  .primary-btn-font,
  .secondary-btn-font,
  .description-font {
    font-size: 18px;
  }
  .banner-paragraph {
    max-width: 81%;
  }
  .banner-tittle {
    padding-top: 3.188rem;
  }

  .card1 {
    position: relative;
    top: 17vh;
    left: 10vh;
  }

  .card2 {
    position: relative;
    top: 34vh;
    left: -7vh;
    padding: 15px;

  }

  .cardcontainer {
    margin-top: -10vh;  
  }

  /* Habit section */
  .habitdescription {
    width: 75%;
    margin-left: 3.125rem;
    
  }

  .fourhabit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  /* CTA Section */
  .ctacontainer {
    flex-direction: column;
    height: auto;
    width: 80%;
    padding: 20px;
    border-radius: 2vh;
    position: relative;
    left: 2.5vh;
  }

  .ctaimg {
    height: auto;
    width: 100%;
    border-radius: 2vh;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 1,25rem;
  }

  .ctatextcontainer {
    padding: 20px;
    padding-top: 1,25rem;
    text-align: start;
  }

  .ctafontm {
    font-size: 32px;
    font-size: bolder;
  }

  .ctatextcontainer p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .ctabtnm {
    width: 287px;
  }
  .ctades {
    width: 90%;
    text-align: flex;
    margin-left: 0rem;
    
  }
  
}
